head
  title SE-386 Grouping
  meta(charset='utf-8')

body
  h3.ui.header.center SE-386 Software Process Improvement in Modern Web Application Design and Development
  //- button#test 更改状态
  .main
    +loginButtons(align='right')
    +grouping_buttons
    +group_list
    +add_student_form

  //- script(src='lib/parsley/dist/parsley.js') 
